<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/normalize.css">
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logobuscador">
    <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
    <p id="arreglobuscador"><input type="serch" name="busqueda" placeholder="Buscar productos,marcas,etc."><button id="lupa" class="fa-solid fa-magnifying-glass"></button></p>
    <p id="pl17"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    
    <nav class="nav" >
        <ul type="none" class="navheader">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul type="none" class="navheader">
            <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </nav>
    <br>    
    <div class="burger-menu"><i class="fas fa-bars"></i></div>
    <br>
<seccion class="banner">
<img src="/images/img-home-banner.jpg"  alt="banner">
</seccion>
</header>

<main>
<section>
<h3 class="titulares">Basado en tu última visita</h3>
<div class="grupo-seccion">

<article>
<img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
<div class="descripcion">
<i class="fa-solid fa-truck"></i>
<div class="flex-juntar">
<p class="precios">$6.770</p>
<p class="descripsion-descuento">40% OFF</p>
</div>
<h4 class="descripcion-art">Cafetera Moulinex</h4>
</div>
</article>

<article>
<img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook">
<div class="descripcion">
<i class="fa-solid fa-truck"></i>
<div class="flex-juntar">
<p class="precios">$230.000</p>
<p class="descripsion-descuento">20% off</p>
</div>
<h4 class="descripcion-art">Macbook Pro 2019</h4>
</div>
</article>

<article>
<img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Galaxy S10">
<div class="descripcion">
<i class="fa-solid fa-truck"></i>
<div class="flex-juntar">
<p class="precios">$70.500</p>
<p class="descripsion-descuento">10% off</p>
</div>
<h4 class="descipsion-art">Samsung Galaxy S10</h4>
</div>
</article>

<article>
<img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv">
<div class="descripcion">
<i class="fa-solid fa-truck"></i>
<div class="flex-juntar">
<p class="precios">$23.200</p>
<p class="descripsion-descuento">5% off</p>
</div>
<h4 class="descipsion-art">SmartTv Samsung 43"</h4>
</div>
</article>
</div>
</seccion>

<section>
    <h3 class="titulares">Basado en tu última visita</h3>
    <div class="grupo-seccion">
    
    <article>
    <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
    <div class="descripcion">
    <i class="fa-solid fa-truck"></i>
    <div class="flex-juntar">
    <p class="precios">$6.770</p>
    <p class="descripsion-descuento">40% OFF</p>
    </div>
    <h4 class="descripcion-art">Cafetera Moulinex</h4>
    </div>
    </article>
    
    <article>
    <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="MacBook">
    <div class="descripcion">
    <i class="fa-solid fa-truck"></i>
    <div class="flex-juntar">
    <p class="precios">$230.000</p>
    <p class="descripsion-descuento">20% off</p>
    </div>
    <h4 class="descripcion-art">Macbook Pro 2019</h4>
    </div>
    </article>
    
    <article>
    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Galaxy S10">
    <div class="descripcion">
    <i class="fa-solid fa-truck"></i>
    <div class="flex-juntar">
    <p class="precios">$70.500</p>
    <p class="descripsion-descuento">10% off</p>
    </div>
    <h4 class="descipsion-art">Samsung Galaxy S10</h4>
    </div>
    </article>
    
    <article>
    <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv">
    <div class="descripcion">
    <i class="fa-solid fa-truck"></i>
    <div class="flex-juntar">
    <p class="precios">$23.200</p>
    <p class="descripsion-descuento">5% off</p>
    </div>
    <h4 class="descipsion-art">SmartTv Samsung 43"</h4>
    </div>
    </article>
    </div>
    </seccion>
    
    
</main>
<footer>
  <seccion><div class="iconosfooter"><i class="fa-solid fa-credit-card"></i></div>
<article class="articulefooter">Pagá con tarjeta o en efectivo</article>
<p class="pl92">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p></seccion>

   <seccion><div class="iconosfooter"><i class="fa-solid fa-gift"></i></div>
<artucule class="articulefooter">Envío gratis desde $ 2.500</artucule>
<p class="pl92">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p></seccion>

   <seccion><div class="iconosfooter"><i class="fa-solid fa-user-shield"></i></div>
<article class="articulefooter">Seguridad, de principio a fin</article>
<p class="pl145">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p></seccion>
<br>
<p class="pl148">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>    
</body>
</html>